/*

*/
/* 
    Created on : 08.09.2020
    Author     : https://opencartforum.com/profile/723002-legioner26/
*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../javascript/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../javascript/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../javascript/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../javascript/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../javascript/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.info-text{
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}
#found_view_products img {
    height: 120px;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.success_filter {
    display: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
}
.fnd_view_settings {
    position: absolute;
    z-index: 999;
    display: none;
    background: rgb(239, 239, 239);

}
#name-auto-special {
    width: 70%;
    height: 40px;
    border: 1px solid #ecedef;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    background: #f5fde4;
    box-shadow: none;
    background: -moz-linear-gradient(top,#f5f5f5 0%,#fdfdfd 100%);
    background: -webkit-linear-gradient(top,#f5fde4 0%,#fdfdfd 100%);
    background: linear-gradient(to bottom,#f5fde4 0%,#fdfdfd 100%);
    color: #4f5f6f;
    font-family: 'OpenSansRegular';
    font-size: 14px;
    margin: 0 auto;
}

.change_settings span:hover {
    color: #76b525;
}
.but_fl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}
.avd_div{margin:50px auto;padding:0;text-align:center;display:flex;}
.avd_div a:focus, .avd_div a:hover {color:#fff;}
.but_sad{width: 70%;margin: 0 auto;text-decoration:none;color:#fff;padding:25px 20px;font-size:18px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-o-box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;position:relative;border-bottom:1px solid rgba(255,255,255,0.2);text-shadow:0 1px 1px #555;-webkit-border-radius:5px 5px 35px 35px;-moz-border-radius:5px 5px 35px 35px;-o-border-radius:5px 5px 35px 35px;border-radius:5px 5px 35px 35px;}
.but_sad:active{top:7px;box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;}
.red_sad{background-color:#515151;background-image: linear-gradient(to top, #828282 0%, #4e4b4b 100%);box-shadow:0 5px 5px #000, 0 9px 0 #515151, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);}
.red_sad:active{-webkit-box-shadow:0 2px 2px #5e2525, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 2px 0 #5e2525, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;-o-box-shadow:0 2px 0 #5e2525, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;box-shadow:0 2px 0 #5e2525, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;}
.tesuen_z{font-size:18px;width: 70%;margin: 0 auto;padding:25px 20px;position:relative;text-decoration:none;color:#fff;text-shadow:0 1px 1px #555;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;cursor: pointer;}
.tesuen_z{background-color:#709e0e;background-image:linear-gradient(bottom, #88c72a 0%, #709e0e 100%);background-image:-o-linear-gradient(bottom, #88c72a 0%, #709e0e 100%);background-image:-moz-linear-gradient(bottom, #88c72a 0%, #709e0e 100%);background-image:-webkit-linear-gradient(bottom, #88c72a 0%, #709e0e 100%);background-image:-ms-linear-gradient(bottom, #88c72a 0%, #709e0e 100%);background-image:-webkit-gradient( linear, center bottom, center top, color-stop(0, #88c72a), color-stop(1, #709e0e));-webkit-box-shadow:0 6px 0 #3a7900;-moz-box-shadow:0 6px 0 #3a7900;-o-box-shadow:0 6px 0 #3a7900;box-shadow:0 6px 0 #3a7900;}
.tesuen_z::before {content:"";display:block;position:absolute;width:100%;height:100%;left:-2px;right:-2px;top:5px;padding-left:2px;padding-right:2px;padding-bottom:4px;z-index:-1;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 1px 0 #fff;-moz-box-shadow:0 1px 0 #fff;-o-box-shadow:0 1px 0 #fff;box-shadow:0 1px 0 #fff;}
.tesuen_z::before{background-color:#0c3a00;}
.tesuen_z:active{background-color:#67910b;background-image:linear-gradient(top, #67910b 0%, #7fb52f 100%);background-image:-o-linear-gradient(top, #67910b 0%, #7fb52f 100%);background-image:-moz-linear-gradient(top, #67910b 0%, #7fb52f 100%);background-image:-webkit-linear-gradient(top, #67910b 0%, #7fb52f 100%);background-image:-ms-linear-gradient(top, #67910b 0%, #7fb52f 100%);background-image:-webkit-gradient( linear, left top, left bottom, color-stop(0, #67910b), color-stop(1, #7fb52f));-webkit-box-shadow:0 1px 0 #b2f154 inset, 0 -1px 0 #1f4d03 inset;-moz-box-shadow:0 1px 0 #b2f154 inset, 0 -1px 0 #1f4d03 inset;-o-box-shadow:0 1px 0 #b2f154 inset, 0 -1px 0 #1f4d03 inset;box-shadow:0 1px 0 #b2f154 inset, 0 -1px 0 #1f4d03 inset;top:7px;}
.tesuen_z:active::before{top:-2px;}
.tesuen_z:active,.tesuen_z:hover,.tesuen_z:focus{color:#fff;text-shadow:0 1px 2px #333;}
.but_sad_xr{width: 70%; margin: 0 auto;text-decoration:none;color:#fff;padding:25px 20px;font-size:18px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-o-box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;position:relative;border-bottom:1px solid rgba(255,255,255,0.2);text-shadow:0 1px 1px #555;-webkit-border-radius:35px 35px 5px 5px;-moz-border-radius:35px 35px 5px 5px;-o-border-radius:35px 35px 5px 5px;border-radius:35px 35px 5px 5px;}
.but_sad_xr:active{top:7px;box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;}
.red_sad_xr{background-color:#9e0e0e;background-image:linear-gradient(to top, #c72a2a 0%, #9e0e0e 100%);background-image:-o-linear-gradient(to top, #c72a2a 0%, #9e0e0e 100%);background-image:-moz-linear-gradient(to top, #c72a2a 0%, #9e0e0e 100%);background-image:-webkit-linear-gradient(to top, #c72a2a 0%, #9e0e0e 100%);background-image:-ms-linear-gradient(to top, #c72a2a 0%, #9e0e0e 100%);-webkit-box-shadow:0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);-o-box-shadow:0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);box-shadow:0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);}
.red_sad_xr:hover{-webkit-box-shadow:0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 15px rgba(255,255,255,0.4) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 15px rgba(255,255,255,0.4) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-o-box-shadow:0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 15px rgba(255,255,255,0.4) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;box-shadow:0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 15px rgba(255,255,255,0.4) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;}
.red_sad_xr:active{-webkit-box-shadow:0 2px 2px #5e2525, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 2px 0 #5e2525, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;-o-box-shadow:0 2px 0 #5e2525, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;box-shadow:0 2px 0 #5e2525, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;}
.item_ok {margin-top: 5px; color:#76b525;}
.avd_upd{margin:30px auto;padding:0;text-align:center;display:block;}
.avd_upd a:hover, .avd_upd a:focus {color:#fff;}
.but_sad_g{text-decoration:none;color:#fff;padding:12px 20px;font-size:18px;font-weight:bold;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-o-box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;position:relative;border-bottom:1px solid rgba(255,255,255,0.2);text-shadow:0 1px 1px #555;-webkit-border-radius:10px / 35px;-moz-border-radius:10px / 35px;-o-border-radius:10px / 35px;border-radius:10px / 35px;}
.but_sad_g:active{top:7px;box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;}
.green_sad{background-color:#519000;background-image:linear-gradient(to top, #84c333 0%, #519000 100%);background-image:-o-linear-gradient(to top, #84c333 0%, #519000 100%);background-image:-moz-linear-gradient(to top, #84c333 0%, #519000 100%);background-image:-webkit-linear-gradient(to top, #84c333 0%, #519000 100%);background-image:-ms-linear-gradient(to top, #84c333 0%, #519000 100%);-webkit-box-shadow:0 5px 5px #508530, 0 9px 0 #385e25, 0 9px 10px rgba(0,0,0,0.4), 0 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 5px 5px #508530, 0 9px 0 #385e25, 0 9px 10px rgba(0,0,0,0.4), 0 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-o-box-shadow:0 5px 5px #508530, 0 9px 0 #385e25, 0 9px 10px rgba(0,0,0,0.4), 0 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;box-shadow:0 5px 5px #508530, 0 9px 0 #385e25, 0 9px 10px rgba(0,0,0,0.4), 0 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;}
.green_sad:hover{-webkit-box-shadow:0 5px 5px #508530, 0 9px 0 #385e25, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 15px rgba(255,255,255,0.4) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 5px 5px #508530, 0 9px 0 #385e25, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 15px rgba(255,255,255,0.4) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-o-box-shadow:0 5px 5px #508530, 0 9px 0 #385e25, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 15px rgba(255,255,255,0.4) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;box-shadow:0 5px 5px #508530, 0 9px 0 #385e25, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 15px rgba(255,255,255,0.4) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;}
.green_sad:active{-webkit-box-shadow:0 2px 2px #385e25, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 2px 0 #385e25, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;-o-box-shadow:0 2px 0 #385e25, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;box-shadow:0 2px 0 #385e25, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-top: 1px solid #009933;
}
.form-control {
    background: #515151;
    border: 1px solid #515151;
    box-sizing: border-box;

    padding: 5px 20px;
    font-size: 16px;
    font-family: open sans,sans-serif;
    color: #fff;
    line-height: 16px;
}
.sol-inner-container {

}
.sol-input-container input[type="text"] {
    background: #515151;
    border: 1px solid #515151;
    box-sizing: border-box;

    padding: 5px 20px;
    font-size: 16px;
    font-family: open sans,sans-serif;
    color: #eee;
    line-height: 16px;
}
.sol-input-container input[type="text"]:active, .sol-input-container input[type="text"]:focus, .form-control:active, .form-control:focus{
    background: #76b525;
    border: 1px solid #76b525;
}
.sol-selection:not(.sol-keyboard-navigation) .sol-option:hover, .sol-option.keyboard-selection {
    background: #75b424;
}

.sol-action-buttons a {
    background-color:#519000;background-image:linear-gradient(to top, #84c333 0%, #519000 100%);background-image:-o-linear-gradient(to top, #84c333 0%, #519000 100%);background-image:-moz-linear-gradient(to top, #84c333 0%, #519000 100%);background-image:-webkit-linear-gradient(to top, #84c333 0%, #519000 100%);background-image:-ms-linear-gradient(to top, #84c333 0%, #519000 100%);-webkit-box-shadow:0 5px 5px #508530, 0 9px 0 #385e25, 0 9px 10px rgba(0,0,0,0.4), 0 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 5px 5px #508530, 0 9px 0 #385e25, 0 9px 10px rgba(0,0,0,0.4), 0 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-o-box-shadow:0 5px 5px #508530, 0 9px 0 #385e25, 0 9px 10px rgba(0,0,0,0.4), 0 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;box-shadow:0 5px 5px #508530, 0 9px 0 #385e25, 0 9px 10px rgba(0,0,0,0.4), 0 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;text-decoration:none;color:#fff;padding:12px 20px;font-size:18px;font-weight:bold;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-moz-box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;-o-box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;box-shadow:0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), 0px 2px 9px rgba(255,255,255,0.2) inset, 0 -2px 9px rgba(0,0,0,0.2) inset;position:relative;border-bottom:1px solid rgba(255,255,255,0.2);text-shadow:0 1px 1px #555;-webkit-border-radius:10px / 35px;-moz-border-radius:10px / 35px;-o-border-radius:10px / 35px;border-radius:10px / 35px;
}
.sol-action-buttons a:hover {
    border-bottom: 1px solid #74b323;

}
.sol-action-buttons a:active {
    top:7px;box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0,0,0,0.4), 0px 2px 5px rgba(0,0,0,0.2) inset;
}
input::placeholder {color:#777 !important;}
::-webkit-input-placeholder {color:#777;}
::-moz-placeholder          {color:#777;}/* Firefox 19+ */
:-moz-placeholder           {color:#777;}/* Firefox 18- */
:-ms-input-placeholder      {color:#777;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff;
    background: #76b525;
}
.nav-tabs > li {
    background: #515151;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: #515151;
}
.nav-tabs > li > a {
    color: #fff;
    border-radius: 2px 2px 0 0;
}

